@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');
.container .greet{
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}
.detail-wrapper{
    margin-top: 100px;
}
.container .dev-name{
    color: #2546c3;
}
.container .detail p{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}
.person-image{
    opacity: 1;
}
.arrow-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-10%, -50%);
}
.arrow-down i{
    font-size: 35px;
    cursor: pointer;
    transition: .5s;
}
.arrow-down i:hover{
    color: #2546c3;
    font-size: 38px;
    text-shadow: 0 0 10px rgb(51, 51, 51);
}
.brand-logo{
    padding-top: 10px;
}